<script>
    window.quizData = {
        questions: [{
            question: "<%= question1 %>",
            options: {
                "<%= question1_option_1 %>": 2,
                "<%= question1_option_2 %>": 1,
                "<%= question1_option_3 %>": 0
            },
            feedback: [
                "<%= question1_option_1_feedback %>",
                "<%= question1_option_2_feedback %>",
                "<%= question1_option_3_feedback %>"
            ],
            supportingText: "<%= question1_fact %>"
        }, {
            question: "<%= question2 %>",
            options: {
                "<%= question2_option_1 %>": 1,
                "<%= question2_option_2 %>": 2
            },
            feedback: [
                "<%= question2_option_1_feedback %>",
                "<%= question2_option_2_feedback %>"
            ],
            supportingText: "<%= question2_fact %>"
        }, {
            question: "<%= question3 %>",
            options: {
                "<%= question3_option_1 %>": 2,
                "<%= question3_option_2 %>": 1
            },
            feedback: [
                "<%= question3_option_1_feedback %>",
                "<%= question3_option_2_feedback %>"
            ],
            supportingText: "<%= question3_fact %>"
        }, {
            question: "<%= question4 %>",
            options: {
                "<%= question4_option_1 %>": 1,
                "<%= question4_option_2 %>": 1
            },
            feedback: [
                "<%= question4_option_1_feedback %>",
                "<%= question4_option_2_feedback %>"
            ],
            supportingText: "<%= question4_fact %>"
        }, {
            question: "<%= question5 %>",
            options: {
                "<%= question5_option_1 %>": 1,
                "<%= question5_option_2 %>": 2
            },
            feedback: [
                "<%= question5_option_1_feedback %>",
                "<%= question5_option_2_feedback %>"
            ],
            supportingText: "<%= question5_fact %>"
        }, {
            question: "<%= question6 %>",
            options: {
                "<%= question6_option_1 %>": 1,
                "<%= question6_option_2 %>": 2
            },
            feedback: [
                "<%= question6_option_1_feedback %>",
                "<%= question6_option_2_feedback %>"
            ],
            supportingText: "<%= question6_fact %>"
        }, {
            question: "<%= question7 %>",
            options: {
                "<%= question7_option_1 %>": 0,
                "<%= question7_option_2 %>": 0,
                "<%= question7_option_3 %>": 1
            },
            feedback: [
                "<%= question7_option_1_feedback %>",
                "<%= question7_option_2_feedback %>",
                "<%= question7_option_3_feedback %>"
            ],
            supportingText: "<%= question7_fact %>"
        }],
        feedback: [{
            overview:    "<%= result_low %>",
            maxScore:    "7",
            summary:     "<%= result_low_text %>"
        }, {
            overview:    "<%= result_medium %>",
            maxScore:    "10",
            summary:     "<%= result_medium_text %>"
        }, {
            overview:    "<%= result_high %>",
            maxScore:    "12",
            summary:     "<%= result_high_text %>"
        }]
    };

    window.vocab = {
        next:          "<%= next_button %>",
        restart:       "<%= start_again %>",
        youRated:      "<%= rating_begin %>",
        outOf:         "<%= rating_end %>",
        shareHeader:   "<%= share_header %>",
        shareMessage:  "<%= share_message %>",
        shareUrl:      "<%= share_url %>"
    };
</script>